*.dat
*.pyc
*.csv
!modeldeep.dat
!datasettrain48-0.dat
!datasettrain48-1.dat
!datasettrain48-2.dat
!datasettrain48-3.dat
!datasettrain48-4.dat
!datasettrain48-5.dat
!datasettest48.dat
!PCA.dat
!SVM.dat